<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Root Config</title>
  <!--
    Remove this if you only support browsers that support async/await.
    This is needed by babel to share largeish helper code for compiling async/await in older
    browsers. More information at https://github.com/single-spa/create-single-spa/issues/112
  -->
  <script src="https://cdn.jsdelivr.net/npm/regenerator-runtime@0.13.7/runtime.min.js"></script>
  <!--
    This CSP allows any SSL-enabled host and for arbitrary eval(), but you should limit these directives further to increase your app's security.
    Learn more about CSP policies at https://content-security-policy.com/#directive
  -->
  <!-- 这个CSP需要单独配置, 在开发环境下, 容易带来报错 -->
  <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self' https: localhost:*; script-src 'unsafe-inline' 'unsafe-eval' https: localhost:*; connect-src https: localhost:* ws://localhost:*; style-src 'unsafe-inline' https:; object-src 'none';"> -->
  <meta name="importmap-type" content="systemjs-importmap" />
  <!-- If you wish to turn off import-map-overrides for specific environments (prod), uncomment the line below -->
  <!-- More info at https://github.com/joeldenning/import-map-overrides/blob/master/docs/configuration.md#domain-list -->
  <!-- <meta name="import-map-overrides-domains" content="denylist:prod.example.com" /> -->

  <!-- Shared dependencies go into this import map. Your shared dependencies must be of one of the following formats:

    1. System.register (preferred when possible) - https://github.com/systemjs/systemjs/blob/master/docs/system-register.md
    2. UMD - https://github.com/umdjs/umd
    3. Global variable

    More information about shared dependencies can be found at https://single-spa.js.org/docs/recommended-setup#sharing-with-import-maps.
  -->
  <!-- 非开发环境走这里 -->
  <script type="systemjs-importmap">
    {
      "imports": {
        "single-spa": "https://cdn.jsdelivr.net/npm/single-spa@5.9.0/lib/system/single-spa.min.js",
        "react": "https://cdn.jsdelivr.net/npm/react@17.0.1/umd/react.production.min.js",
        "react-dom": "https://cdn.jsdelivr.net/npm/react-dom@17.0.1/umd/react-dom.production.min.js",
        "react-router-dom": "https://cdn.jsdelivr.net/npm/react-router-dom@5.2.0/umd/react-router-dom.min.js",
        "vue": "https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js",
        "vue-router": "https://cdn.jsdelivr.net/npm/vue-router@3.0.7/dist/vue-router.min.js",
        "rxjs": "https://cdn.bootcdn.net/ajax/libs/rxjs/6.6.3/rxjs.umd.min.js"
      }
    }
  </script>
  <!-- single-spa DNS预解析, 下面引入时, 不需要下载了 -->
  <link rel="preload" href="https://cdn.jsdelivr.net/npm/single-spa@5.9.0/lib/system/single-spa.min.js" as="script">

  <!-- Add your organization's prod import map URL to this script's src  -->
  <!-- <script type="systemjs-importmap" src="/importmap.json"></script> -->
  <!-- 尾逗号会报错 -->

  <% if (isLocal) { %>
  <script type="systemjs-importmap">
    {
      "imports": {
        "@single-spa/welcome": "https://unpkg.com/single-spa-welcome/dist/single-spa-welcome.js",
        "@study/root-config": "//localhost:9000/study-root-config.js",
        "@study/test-react-micro": "//localhost:9001/study-test-react-micro.js",
        "@study/react-todo": "//localhost:9002/study-react-todo.js",
        "@study/realworld": "//localhost:9003/js/app.js",
        "@study/navbar": "//localhost:9004/study-navbar.js",
        "@study/tools": "//localhost:9005/study-tools.js"
      }
    }
  </script>
  <% } %>

  <!--
    If you need to support Angular applications, uncomment the script tag below to ensure only one instance of ZoneJS is loaded
    Learn more about why at https://single-spa.js.org/docs/ecosystem-angular/#zonejs
  -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/zone.js@0.11.3/dist/zone.min.js"></script> -->

  <script src="https://cdn.jsdelivr.net/npm/import-map-overrides@2.2.0/dist/import-map-overrides.js"></script>
  <% if (isLocal) { %>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.js"></script>
  <% } else { %>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.min.js"></script>
  <!-- 用于解析 AMD 模块的插件, 若没有需求可以删除 -->
  <!-- system.js默认无法解析 vue 和 vue-router这两个模块, 需要使用这个amd模块 -->
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.min.js"></script>
  <% } %>
</head>
<body>
  <!-- 路由引擎 -->
  <template id="single-spa-layout">
    <single-spa-router>
      <application name="@study/navbar"></application>
      <!-- 默认路由 -->
      <route default>
        <application name="@single-spa/welcome"></application>
      </route>
      <route path="react">
        <application name="@study/test-react-micro"></application>
      </route>
      <route path="todo">
        <application name="@study/react-todo"></application>
      </route>
      <route path="realworld">
        <application name="@study/realworld"></application>
      </route>
    </single-spa-router>
  </template>
  <main></main>
  <div id="myReact"></div>
  <!-- 导入微前端应用 -->
  <!-- 
    import-map-overrides 可以覆盖导入映射(主要是用于调试, 调试工具中有一个输入地址的地方, 可以替换)
    当前项目中用于配合 single-spa Inspector 调试工具使用
    可以手动覆盖项目中的javaScript 模块加载地址, 用于调试
    该模块表示的就是容器应用, 地址就在上面的映射中
  -->
  <script>
    System.import('@study/root-config');
  </script>
  <!-- 这个就是上面所说的调试工具 -->
  <import-map-overrides-full show-when-local-storage="devtools" dev-libs></import-map-overrides-full>
</body>
</html>
